{% extends 'base_admin.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    {% block titre %}Ajouter un Genre{% endblock %}

    {{ include('admin/genre/_form.html.twig') }}

    <a href="{{ path('app_admin_genre_index') }}" class="btn btn-secondary"><i class="fa fa-reply"></i> Retour à la liste</a>
{% endblock %}
