{% extends 'base_admin.html.twig' %}

{% block title %}Modifier Emprunt{% endblock %}

{% block titre %}Modifier un Emprunt{% endblock %}

{% block body %}

    {{ include('admin/emprunt/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <hr>
    <a href="{{ path('app_admin_emprunt_index') }}" class="btn btn-warning">
        <i class="fa fa-reply"></i> Annuler
    </a>

	<span class="float-right">
	    {{ include('admin/emprunt/_delete_form.html.twig') }}
	</span>
{% endblock %}
