{% extends 'base_admin.html.twig' %}

{% block title %}Modifier un Auteur{% endblock %}

{% block titre %}Modifier un Auteur{% endblock %}

{% block body %}

    {{ include('admin/auteur/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <a href="{{ path('app_admin_auteur_index') }}" class="btn btn-secondary"><i class="fa fa-reply"></i> Retour à la liste</a>

    {{ include('admin/auteur/_delete_form.html.twig') }}
{% endblock %}
