{% extends 'base_admin.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block titre %}Ajouter un Auteur{% endblock %}

{% block body %}

    {{ include('admin/auteur/_form.html.twig') }}

    <a href="{{ path('app_admin_auteur_index') }}" class="btn btn-secondary"><i class="fa fa-reply"></i> Retour à la liste</a>
{% endblock %}
