{% extends 'base_admin.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block titre %}Auteur{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.identite }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ auteur.bio }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
