{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block titre %}Bienvenue à la Bibliothèque{% endblock %}

{% block body %}
    <h2>{{ liste_livres.getTotalItemCount }} livres en rayons</h2>
    <div class="d-flex flex-wrap">
    {% for l in liste_livres %}
            {{ include("livre/vignette.html.twig", { livre: l }) }}
        {% endfor %}
    </div>

    {# ! fonction : knp_pagination_render
        • 1er   paramètre : données
        • 2ième paramètre : thème twig (pour ne pas utiliser le thème par défaut)
        • 3ième paramètre : query param
        • 4ième paramètre : variables de la vue
            align   : left*, center, right
            size    : small, medium*, large
            rounded : true, false*
       ! cf. vendor\knplabs\knp-paginator-bundle\docs\templates.md
     #}
    {{ knp_pagination_render(liste_livres, null, {}, {align: "center", size: "large", rounded: true}) }}

{% endblock %}

{% block nul %}
    Contenu du block 'nul'
{% endblock %}


    {# <div class="row row-cols-1 row-cols-md-4 g-4"> #}
