{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <div class="row mx-0">
        <h2 class="col">Tous les auteurs</h2>
        <h3 class="col-1">(x{{ auteurs|length }})</h3>
    </div>


    <div class="card-deck">
        {% for auteur in auteurs %}
            {% include "auteur/vignette.html.twig" %}
        {% else %}
            </div>
            <div class="alert alert-info">Aucun auteur trouvé
        {% endfor %}
    </div>
{% endblock %}


