{% extends 'base.html.twig' %}

{% block title %}Ajouter Abonne{% endblock %}

{% block titre %}Ajouter un Abonne{% endblock %}

{% block body %}

    {{ include('abonne/_form.html.twig') }}

    <a href="{{ path('abonne_index') }}">
<i class="fa fa-reply"></i> Retour liste
</a>
{% endblock %}
