$gris_clair: #d3d3d3;
$gris: #8d8c8c;
$danger: #6b2f2f;
$primary: #183772;
$dark: #182030;
$warning: #a06e04;
$success: #527e52;
$white: #eee;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

html {
    background-color: $white;
    /**/ height: 100vh;
}

body {
    // annuler le padding de .container
    // padding-inline: 0 !important;

    background-image: url("../images/bibpublique_stokholm.png");
    // background-size: cover;
    // height: 100vh;
    background-repeat: repeat;
    /**/ height: 100%;
}

body > .container {
    background-color: $gris_clair;
    padding-inline: 0;
}

#wrap {
    min-height: 100%;
}

#main {
    // overflow      : auto;
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
    // background-color: $gris_clair;
    padding-inline: 10px;
}

footer {
    position   : relative;
    margin-top : -150px; /* negative value of footer height */
    height     : 150px;
    clear      : both;
    padding-top: 20px;

    background-color: $dark;
    color: $white;
}

img.vignette {
    height: 50px;
    width: auto;
}
img.miniature {
    width: 100px;
    height: auto;
}