@import "~@fortawesome/fontawesome-free/css/all.min.css";

$theme-colors: (
  "primary": #6600ff,
  "secondary": #b9b8c6,
  "success": #a366ff,
  "danger": #81161f,
  "warning": #bf7a0b,
  "info": #0ba1bf,
  "light": #F8F9FA,
  "dark": #343A40
);
$hauteur_footer: 60px;

@import '~bootstrap/scss/bootstrap';

@for $i from 0 to 100 {
    .w-#{$i}{
      width: $i * 1%;
    }
}
  

body {
    background-color: lightgray;
    background-size: cover;
}

h1 a {
    font-size: .7em;
}

img.mini{
    height: 50px;
}

img.vignette{
    height: 100px;
}

// FOOTER
// Pour avoir un footer en bas de page
html {
    position: relative;
    min-height: 100%;
}

body{
    // height: calc(100vh - #{$hauteur_footer});  // pour utiliser une variable SASS dans la fonction CSS calc
    height: 100%;

}
 
.footer {
    position: absolute;
    bottom: -$hauteur_footer; // <> bottom: 0   =>   pour éviter de cacher le bas de la page
    // bottom: 0;
    width: 100%;
    height: $hauteur_footer;
    background: #000000;
    color: #FFFFFF;
}

// FORM 
div.formulaire {
    background-color: $light;
    color: color-yiq(#e6def1);
    padding: $spacer;
    margin-top: $spacer;
}
form label{
    font-weight: bold;
    font-size: 1.1em;
}

// TABLE
tr.centrer th, thead.centrer th{
    text-align: center;
}

table.transparent{
    background-color: rgba(248, 249, 250, .2);
    color: color-yiq(rgba(248, 249, 250, .2));
    text-shadow: 1px 1px 1px $light;
    font-weight: 600;
}

table.rayon{
    font-weight: 600;
    // background-image: url("/images/natural-wood-grain-background.jpg");
}

del{
    border: 1px solid $danger;
}

// CARD
h4.card-header{
    // pour afficher le titre sur 1 ligne et afficher le caractère ... 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// CARD vignette livre
.card.livre{
    min-height: 160px;
    box-shadow: 0 0 10px black;
}

.livre > .couverture{
    height: 160px !important;
}

.nav-link.user{
    color: $primary;
}
