{% extends 'base.html.twig' %}

{% block title %}Modifier Emprunt{% endblock %}

{% block titre %}Modifier un Emprunt{% endblock %}

{% block body %}

    {{ include('emprunt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('emprunt_index') }}">
<i class="fa fa-reply"></i> Retour liste
</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
