{% extends 'base.html.twig' %}

{% block title %}Ajouter Emprunt{% endblock %}

{% block titre %}Ajouter un Emprunt{% endblock %}

{% block body %}

    {{ include('emprunt/_form.html.twig') }}

    <a href="{{ path('emprunt_index') }}">
<i class="fa fa-reply"></i> Retour liste
</a>
{% endblock %}
