{% extends 'gestion.html.twig' %}

{% block title %}Ajouter Emprunt{% endblock %}

{% block titre %}Ajouter un Emprunt{% endblock %}

{% block body %}

    {{ include('emprunt/_form.html.twig') }}

	<hr>
	<a href="{{ path('emprunt_index') }}" class="btn btn-warning">
<i class="fa fa-reply"></i> Annuler
</a>
{% endblock %}
