{% extends "base.html.twig" %}

{% block title %}Espace Lecture{% endblock %}

{% block titre %} {{ block("title") }} {% endblock %}

{% block body %}
    <h2>Mes livres préférés</h2>
    <h2>Mes réservations</h2>
{% endblock %}