<table class="table table-bordered mt-5">
<thead>
    <tr>
        <td>Date</td>
        <td>Livre</td>
        <td><i class="fa fa-cogs"></i></td>
    </tr>
</thead>
<tbody>
    {% set reservations = app.session.get("reservations", []) %}
    {% for ligne in reservations %}
        <tr>
            <td>{{ ligne.date }}</td>
            <td>
                <img  src="{{ chemin_couvertures ~ ligne.livre.couverture }}" width=50>
                {{ ligne.livre.titre }}
            </td>
            
            <td><a href="{{ path("app_espace_supprimer_reservation", { id: ligne.livre.id }) }}" class="fa fa-trash"></a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3" class="alert alert-info">Aucune réservation en attente</td>
        </tr>
{% endfor %}
</tbody>
</table>
