{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}

<ul class="list-group">
    <li class="list-group-item">
        <code>EXOS : 

</code>
    </li>
    <li class="list-group-item">
        <code>Créer un controleur "Profil" dans lequel vous aurez une route
nommée "profil_lecteur" pour le chemin "/profil-lecteur"
qui ne sera accessible qu à un utilisateur connecté avec le "ROLE_LECTEUR"
Cette route devra afficher les informations de l''utilisateur connecté (pseudo, nom, prénom, adresse)

Le lien de menu qui affiche le nom de l''utilisateur connecté redirigera vers cette route
</code>
    </li>
    <li class="list-group-item">
        <code>créer la table Genre dans la bdd (avec la relation entre les tables Genre et Livre)</code>
    </li>
</ul>
{% endblock %}
