{% extends 'base_admin.html.twig' %}

{% block title %}Modifier Livre{% endblock %}

{% block titre %}Modifier un Livre{% endblock %}

{% block body %}

    {{ include('admin/livre/_form.html.twig', {'button_label': 'Actualiser'}) }}


    <hr>
    <a href="{{ path('app_admin_livre_index') }}" class="btn btn-warning ">
        <i class="fa fa-reply"></i>
        Annuler
    </a>

	<span class="float-right">
	    {{ include('admin/livre/_delete_form.html.twig') }}
    </span>
{% endblock %}
