{% extends 'base_admin.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h2 class="col">Résultats de la recherche de "<code>{{ mot }}</code>"</h2>
    <div class="row mx-0 alert">
        <h3><strong>Livres</strong></h3> <h3 class="col-1">(x{{ livres|length }})</h3>
    </div>
        
    <div class="card-deck">
        {% for livre in livres %}
            {% include "livre/vignette.html.twig" %}
        {% else %}
            </div>
            <div class="alert alert-info">Aucun livre trouvé
        {% endfor %}
    </div>

    <div class="row mx-0 alert">
        <h3><strong>Genres</strong></h3> <h3 class="col-1">(x{{ genres|length }})</h3>
    </div>
        
    <div class="card-deck">
        {% for genre in genres %}
            {% include "genre/vignette.html.twig" %}
        {% else %}
            </div>
            <div class="alert alert-info">Aucun genre trouvé
        {% endfor %}
    </div>



{% endblock %}
