{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter Abonne{% endblock %}

{% block titre %}Ajouter un Abonne{% endblock %}

{% block body %}

    {{ include('admin/abonne/_form.html.twig') }}

	<hr>
	<a href="{{ path('app_admin_abonne_index') }}" class="btn btn-warning">
<i class="fa fa-reply"></i> Annuler
</a>
{% endblock %}
