<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Accueil{% endblock %}| E-Boutik</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
			{{ encore_entry_link_tags("admin") }}
		{% endblock %}
	</head>

	<body>
        <div class="right-aside">
            {% include"admin/nav.html.twig" %}
        </div>

		<aside class="bg-dark">
            {% include "admin/menu.html.twig" %}
		</aside>

		<main class="right-aside">
			<div class="mx-5 pt-2">
				{% include "message.html.twig" %}

				{% block body %}
					<h1>
						{% block h1 %}Bienvenue à la bibliothèque{% endblock %}
					</h1>

					{% block formulaire %}{% endblock %}

				{% endblock %}
			</div>
		</main>

		{% include "footer.html.twig" with { "footer_admin": true } %}

		{% block javascripts %}
			{{ encore_entry_script_tags("app") }}
			{{ encore_entry_script_tags("admin") }}
		{% endblock %}
	</body>
</html>
